* {
  margin: 0;
  padding: 0;
}
/* 1、顏色及框線變數 */
:root {
  --pirmary-bg: #fdfbef;
  --primary-text: #4c4948;
  --white: #fff;
  --pink: #ffcbcc;
  --light-pink: #ffeaeb;
  --blue: #9fcfef;
  --light-blue: #d8eeff;
  --green: #badf73;
  --light-green: #eaf6d5;
  --yellow: #fff57f;
  --deep-yellow: #dac900;
  --purple: #d2bdff;
  --light-purple: #f1eaff;
  --gray: #a5a4a3;
  --light-gray: #a5a4a3;

  --primary-font-family: Roboto;
  --primary-border: 3px solid #4c4948;
}
.marletWH {
  background-color: var(--white);
}
.marletKHH {
  background-color: var(--blue);
}
.marletTNN {
  background-color: var(--purple);
}
.marletPIF {
  background-color: var(--green);
}
.marletCYI {
  background-color: var(--pink);
}
.marletKHHLight {
  background-color: var(--light-blue);
}
.marletTNNLight {
  background-color: var(--light-purple);
}
.marletPIFLight {
  background-color: var(--light-green);
}
.marletCYILight {
  background-color: var(--light-pink);
}

ul {
  list-style: none;
}
.indexCarousel {
  width: 1620px;
  height: 740px;
  margin: 50px auto;
  position: relative;
}
.indexCarousel ul:nth-of-type(1) {
  width: 100%;
  height: 100%;
  position: relative;
}
.indexCarousel ul:nth-of-type(1) li {
  position: absolute;
  top: 0;
  left: 0;
}
.indexCarouselImgs {
  width: 1620px;
}
.indexCarousel ul:nth-of-type(1) li img {
  border: var(--primary-border);

  width: 1620px;
  max-height: 740px;
  overflow: hidden;
  object-fit: cover;
  background-position: center center;
  background-size: cover;
}
.active {
  display: block;
}
.carouselBtn {
  position: absolute;
}
.btn_at {
  background-color: #9fcfef;
  border: 2px solid #4c4948;
}
.btn_unat {
  background-color: white;
}
.unactive {
  display: none;
}

.indexCarousel ul:nth-of-type(2) {
  position: absolute;
  bottom: 6px;
  width: 16%;
  height: 5%;
  left: 42%;
}
.indexCarousel ul:nth-of-type(2) li {
  float: left;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  margin: 10px 10.7%;
}
.indexCarouselLabel {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: -15px;
  top: 20px;
  margin: 20px 0;
}
.indexCarouselLocaGroup {
  display: flex;
  margin-bottom: 10px;
}
.indexCarouselTime {
  margin-bottom: 10px;
}

.recruitLabel {
  width: 270px;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 7.5px;
  border-radius: 0px 40px 40px 0px;
  border: var(--primary-border);
  background-color: var(--yellow);
  padding: 10px 20px;
  margin-bottom: 10px;
}
.indexCarouselLoca {
  color: var(--primary-text);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  padding: 10px 20px;
  border: var(--primary-border);
}
.indexCarouselLocaDetail {
  color: var(--primary-text);
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 700;
  padding: 10px 20px;
  border: var(--primary-border);
  border-left: none;
}
.marketInfoSolganBox {
  position: absolute;
  justify-content: end;

  flex-direction: column;
  right: -50px;
  bottom: 50px;
  letter-spacing: 5px;
  display: flex;
  text-align: center;
}
.marketInfoSolgan {
  padding: 10px 50px;
}
.marketInfoName {
  font-size: 60px;
  margin-top: 10px;
}

/* 來當老闆三步驟 */
.indexBossCircleBox {
  display: flex;
  margin-left: 150px;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 50px;
  position: relative;
  margin-top: 90px;
}
.indexBossCircleBox > img {
  position: absolute;
  left: -150px;
  z-index: 1;
}
.indexBoosStep {
  position: absolute;
  top: -90px;
}
.page-title {
  color: var(--primary-text);
  text-align: center;
  font-family: var(--primary-font-family);
  line-height: normal;
  letter-spacing: 25px;
  /* margin: 50px 0; */
}
.index-main-page {
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
}
.indexBossCircle {
  margin: 0 50px 0 0;
  width: 300px;
  height: 300px;
  border-radius: 300px;
  background-color: #fff;
  border: var(--primary-border);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 100;
}
.indexBossCircle > img {
  width: 100px;
}
.indexBossCircleText {
  padding: 20px 0;
}
.indexBossCircleB {
  padding: 0 0 10px 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 4.8px;
}
.indexBossCircleP {
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.8px;
}
.indexBossTitle {
  position: absolute;
  right: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* 招募卡片 */
.indexRecruitCardGroup {
  display: flex;
  width: 1770px;
  /* flex-wrap: wrap; */
  margin-left: 150px;
}

.indexRecruitCard {
  width: 380px;
  height: 425px;
  margin-right: 50px;

  /* background-image: url("../images/indexBossCard.svg"); */
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 40px;
  font-size: 24px;
  font-weight: bold;
}
.indexRecruitCardBG {
  position: absolute;
  width: 380px;
  height: 425px;

  z-index: 1;
  object-fit: cover;
  background-position: center center;
  background-size: cover;
}
.indexRecruitCardIcon {
  position: absolute;
  width: 22.5px;
  right: 20px;
  top: -10px;
  z-index: 100;
}

.indexRecruitCardContext {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.indexRecruitCardimg {
  width: 340px;
  height: 160px;
  border: var(--primary-border);
  /* margin: 0 auto; */
  object-fit: cover;
  background-position: center center;
  margin-left: 20px;
  background-size: cover;
  z-index: 100;
}

.indexRecruitCardLoca {
  color: var(--primary-text);
  font-size: 20px;
  font-weight: 700;
  padding: 10px 20px;
  border: var(--primary-border);
  margin-top: -20px;
  margin-left: 20px;
  z-index: 100;
  position: absolute;
}

.indexRecruitCardTitle {
  padding: 10px 20px 10px 20px;
  margin-top: 35px;
  z-index: 100;
  font-size: 24px;
}
.indexRecruitCardTime {
  padding: 10px 20px 10px 20px;
  z-index: 100;
  font-size: 18px;
}
.indexRecruitCardP {
  font-size: 18px;
  z-index: 100;

  padding-right: 20px;
  margin: 0 20px;

  text-align: justify;
  text-justify: distribute;
  overflow: hidden;
  /* 文字多於2行隱藏 */
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.indexRecruitButton {
  position: absolute;
  z-index: 100;
  bottom: 17px;
  margin: 0 20px;
  right: -5px;
  width: 265px;
  /* height: 40px; */
  padding: 5px 0;
  border: var(--primary-border);
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
}
.indexRecruitButton > p {
  font-size: 18px;
  letter-spacing: 1.8px;
}

/* 本周市集 */
.indexWeatherBox {
}
.weekMarkets {
  /* display: flex; */
  margin: 50px 150px 0 150px;
}
.indexWeekTitle {
  display: flex;
  flex-direction: column;
  margin-left: 150px;
  align-items: center;
}

.indexWeatherSelect {
  /* height: 62px; */
  width: 180px;

  padding: 10px 20px;

  font-size: 20px;
  font-weight: 700;
  border-radius: 30px;
  border: 3px solid var(--primary-text, #4c4948);
  margin-right: 20px;

  /* 隱藏箭頭 */
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
}
.weekWeatherBox {
  margin-top: 20px;
  display: flex;
  width: 1000px;
  flex-direction: column;
  border: var(--primary-border);
  background-color: var(--white);
}
.weekWeatherTittle {
  display: flex;
  padding: 10px 50px;
  list-style: none;
  border-bottom: var(--primary-border);
  justify-content: space-between;
}
.WeatherDaysList {
  padding: 10px 50px;
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.weekWeatherDays {
  display: flex;
  padding: 20px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* 本周市集 */
.indexWeek {
  display: flex;
  margin: 50px 0;
}

.indexWeekCardBox {
  margin-left: 150px;
  display: flex;
  overflow: hidden;
  width: 1770px;
  /* flex-wrap: wrap; */
}

.indexWeekCardContext {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.indexWeekCard {
  background-color: var(--white);
  border: var(--primary-border);
  width: 380px;
  height: 425px;
  margin-right: 45px;
  margin-left: 28px;
  /* background-image: url("../images/indexBossCard.svg"); */
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 40px;
  font-size: 24px;
  font-weight: bold;
  /* margin-right: 50px; */
}

.indexWeekCardLoca {
  color: var(--primary-text);
  border: var(--primary-border);
  font-size: 20px;
  font-weight: 700;
  padding: 10px 20px;
  margin-top: -30px;
  margin-left: -28px;
  z-index: 900;
  position: absolute;
}

.indexWeekCardimg {
  height: 200px;
  border-bottom: var(--primary-border);
  object-fit: cover;
  background-position: center center;
  background-size: cover;
}

.indexWeekCardTitle {
  padding: 10px 20px;
  z-index: 100;
  font-size: 24px;
  font-weight: 700;
}

.indexWeekCardTime {
  padding: 0 20px 10px 20px;
  font-size: 18px;
}

.indexWeekCardP {
  padding-right: 20px;
  margin: 0 20px;
  overflow: hidden;
  font-size: 18px;
  text-align: justify;
  text-justify: distribute;

  /* 文字多於2行隱藏 */
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.indexWeekButton {
  border: var(--primary-border);
  background-color: var(--yellow);
  border-radius: 50px;
  margin: 20px 20px;
  padding: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  letter-spacing: 1.8px;
}

/*  */
.indexMentalTest {
  height: 930px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mentalTestTittle {
  background-color: var(--white);
  border: var(--primary-border);
  /* width: 100%; */
  /* margin: 0 160px; */
  padding: 10px 50px;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 24px;
  margin-bottom: 50px;
}

.mentalTestButton {
  padding: 20px 150px;
  background-color: var(--yellow);
  border: var(--primary-border);
  font-size: 30px;
  letter-spacing: 15px;
  border-radius: 50px;
}

/*  */
.indexPagesArea {
  display: flex;
  margin: 0 150px;
  justify-content: space-between;
  /* align-content: end; */
  align-items: flex-start;
}
.indexPagesTitle {
  display: flex;
  flex-direction: column;
  /* margin-left: 150px; */
  align-items: center;
}

/* 熱門文章 */
.indexArticlesCard {
  background-image: url(../images/blog-background.jpg);
  background-color: var(--white);
  border: var(--primary-border);
  display: flex;
  padding: 20px 0;
  width: 800px;
}
.articlesDate {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}
.articlesMonth {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}
.articlesDateLine {
  width: 30px;
  border-bottom: 1px solid var(--primary-text);
}
.articlesDay {
  font-size: 48px;
}

.indexArticlesArea {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.indexArticlesimg {
  width: 350px;
  height: 250px;
  border: var(--primary-border);
  /* margin: 0 auto; */
  object-fit: cover;
  background-position: center center;
  /* margin-left: 20px; */
  background-size: cover;
  z-index: 100;
}
/* 熱門討論 */
.indexDisscussionArea {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.indexDisscussionCard {
  display: flex;
  flex-direction: column;
  border-radius: 500px;
  border: var(--primary-border);
  /* background-color: var(--white); */
  width: 730px;
  padding: 20px 80px;
}

.DisscussionTitle {
  /* padding: 10px 20px; */
  /* z-index: 100; */
  font-size: 24px;
  font-weight: 700;
  padding: 10px 0;
}

.DisscussionP {
  /* margin: 0 80px; */
  overflow: hidden;
  font-size: 18px;
  text-align: justify;
  text-justify: distribute;

  /* 文字多於2行隱藏 */
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.indexArticlesTextBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.indexArticlesText {
  margin: 10px 20px 0 20px;
}
.indexArticlesTitle {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 20px 0;
  /* 文字多於2行隱藏 */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.indexArticlesP {
  /* padding-right: 20px; */

  /* margin: 0 20px; */
  overflow: hidden;
  font-size: 18px;
  text-align: justify;
  text-justify: distribute;
  letter-spacing: 3.6px;
  /* 文字多於2行隱藏 */
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.indexArticlesActive {
  display: flex;
  justify-content: space-between;
  margin: 30px 20px 0 20px;
  border-top: var(--primary-border);
  padding-top: 20px;
}
.indexArticlesEnter {
  display: flex;
  justify-content: center;
  align-items: center;
}
